@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(234, 29%, 20%);
}
.container{
    height: 75vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    /* padding: 10px; */
     border-radius: 20px;
}
.left{
    /* background-color: burlywood; */
    width: 52%;
    height: 70vh;
    background-color: aquamarine;
}
.left h2{
    font-size: 2.5rem;
}
.left input{
    padding: 15px 10px;
    width: 100%;
    border-radius: 20px solid black;
    /* border: none; */
    
}
.para{
    display: inline-block;
    width: 28vw;
    font-size: 14px;
    line-height: 1.5rem;
    background-color: bisque;
}

li{
    list-style: url('/assets/images/icon-list.svg');
    list-style-position: 20px;
    line-height: 2rem;
    background-color: aqua;

}
li>span{
    font-family: inherit;
    background-color: gold;
    /* padding-bottom: 2rem; */
    font-size: 14px;
}
.right{
    display: flex;
    width: 42%;
    height: 70vh;
    overflow: hidden;
}
.right img {
    height: 410px;
    width: 280px;
}